datalist option {
    width: 100%;
    box-sizing: border-box;
}

.tableSelect {
    width: 50%;
    cursor: pointer;
    height: 40px;
    font-size: x-large;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.selected {
    border: 2px solid rgb(0, 0, 0);
}

.tableSelect:hover {
    background-color: rgba(0, 0, 0, 0.04);
}